.header-container {
}
.form-control {
  width: 50%;
  margin-top: 3%;
  margin-left: 25%;
}
.btn-primary {
  color: black;
  background-color: #878a8f !important;
  border-color: rgb(20, 20, 20) !important;
  margin-top: 15px;
  margin-left: 50%;
  width: 5%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: black;
  background-color: #85878d !important;
  border-color: rgb(129, 127, 127) !important;
}
