.header-container {
  text-align: center;
}
.navbar-brand {
  padding: 20px;
  width: 60%;
}
.nav-link {
  width: 100px;
}
.bg-light {
  background-color: #6395e0 !important;
}
a,
a:hover {
  color: black;
}
