.App {
  text-align: center;
  width: 50%;
  height: 100vh;
  margin: auto;
  background-color: rgb(116, 95, 235);
  color: rgb(22, 21, 21);
}
.app-header-container {
  /*margin: 10px;*/
}
.app-addPost-container {
  /*margin: 10px;*/
}
.app-viewPost-container {
  margin-top: 10px;
}
.app-listPost-container {
  margin: 10px;
}
